@media (max-width: 1078px){
    .main h1{
        font-size: 35px;
        text-align: left;
        margin-bottom: 10px;

    }
    .image {
        display: block;
    }
    .image img{
        width: 400px;
    }
    
    footer {
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 15px;
  }

   button {
	margin-right: 30px;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 15px;
  }
}
@media (max-width: 667px){
    .main{
        padding: 80px 10px;
    }
    .top-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }
    .top-content{
        margin: auto;
        padding-right: 0;
        max-width: 320px;
        
    }
    .top-content h1{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }
    .top-wrapper p{
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }
    .image {
        display: block;
        float: none;
        margin: auto;
    }
    .image img{
        width: 360px;
    }
    .btn{
        width: 100%;
    }
    
    footer {
    width: 100%;
    position: relative;
    bottom: 0;
    font-size: 10px;
  }

   button {
	border: solid #fff;
	font-size: 10px;
	background-color: #fff;
	border-radius: 10px;
  }
}


