@media (max-width: 1078px){
    .main h1{
        font-size: 35px;
        text-align: left;
        margin-bottom: 10px;

    }
    .image {
        display: block;
    }
    .image img{
        width: 400px;
    }
    
    footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 15px;
  }

  .container {
	font-style: bold;
	padding-left: 10px;
  	padding-right: 10px;
  }

   .front {
	margin-left: auto;
	padding-left: 160px;
  	padding-right: 10px;
  }

   .copy-container {
	margin-left: auto;
	padding-left: 80px;
  	padding-right: 10px;
  }

  .button {
  	padding-right: 10px;
  	padding-left: 50px;
  }

   button {
	margin-right: 30px;
	border: 3px solid #fff;
	background-color: #fff;
	border-radius: 15px;
  }
}
@media (max-width: 667px){
    .main{
        padding: 80px 10px;
    }
    .top-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
    }
    .top-content{
        margin: auto;
        padding-right: 0;
        max-width: 320px;
        
    }
    .top-content h1{
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
    }
    .top-wrapper p{
        text-align: center;
        font-size: 16px;
        line-height: 18px;
    }
    .image {
        display: block;
        float: none;
        margin: auto;
    }
    .image img{
        width: 360px;
    }
    .btn{
        width: 100%;
    }
    
    footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 10px;
  }

  .container {
  	padding-left: 10px;
  	padding-right: 5px;
  	bottom: 0;
	padding: 0;
  }

  .front {
	margin-left: auto;
	padding-left: 130px;
  	padding-right: 10px;
  	bottom: 0;
	padding: 0;
  }

   .copy-container {
	padding-left: 80px;
  	bottom: 0;
	padding: 0;
  }

   .button {
   	padding-left: 50px;
  	padding-right: 10px;
  	padding-bottom: 17px;
  	bottom: 0;
  }

   button {
	border: solid #fff;
	font-size: 10px;
	background-color: #fff;
	border-radius: 10px;
  }
}


